.newsletter {
  width: 100%;
  display: flex;
  margin: 0 0 6rem 0;
  flex-direction: column;
  align-items: center;
  justify-self: space-evenly;
  background: linear-gradient(180deg, #f1e2f2 0%, #ffffff22 60%);
}

.newsletter h1 {
  color: #454545;
  font-size: 55px;
  font-weight: 600;
}

.newsletter p {
  color: #454545;
  font-size: 1.25rem;
}

.newsletter button {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: #000;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
