.offers {
  display: flex;
  width: 100%;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.offers-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers h1 {
  color: #171717;
  font-size: 80px;
  font-weight: 600;
}

.offers-left p {
  color: #171717;
  font-size: 1.375rem;
  font-weight: 600;
}

.offers-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  font-size: 1.375rem;
  font-weight: 500;
  margin-top: 1.875rem;
  cursor: pointer;
}

.offers-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 3.125rem;
}
